<div class="container home">
	<div class="row">
		<div class="col-md-12">
			<h1>IT Solutions For Everyone!</h1>
			<h3>Ideal for connecting with freelancers for small projects. Need a social media page, small website, or minor changes to content for your website? Then you've come to the right place.</h3>
			<p>IT Solutions for Everyone provides a simple, easy to use job board for you to connect with freelancers. Unlike other freelance websites that require lengthy user profile creation, no profile is required to connect here.</p>	
			<%= link_to "View All Jobs", posts_url, class: 'btn btn-primary' %>	
		</div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	  	<h3>Create a Listing Now</h3>
	    <%= form_for(@post) do |f| %>

	      <%= render 'shared/error_messages' %>

	      <%= f.label :email %>
	      <%= f.text_field :email, class: 'form-control' %>

	      <%= f.label :title %>
	      <%= f.text_field :title, class: 'form-control' %>

	      <%= f.label :body %>
	      <%= f.text_field :body, class: 'form-control' %>

	      <%= f.label :remote_image_url, "or image URL" %>
    	  <%= f.file_field :image %>

	      <%= f.submit "Create my post", class: "btn btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>